-#  This file is app/views/application/admin_dashboard.html.haml
// currently placing under app's views since no admin controller; another fix?
%h1 Welcome back, Admin!

= link_to 'Confirm New Events', admin_events_path
= link_to 'View Hotspot Forms', hotspots_path
