%html
  %head
    %meta{:charset => "utf-8"}
      %title Full Page Background Image | CSS #1
      :css
        img.bg {
        	/* Set rules to fill background */
        	z-index: -1;
        	min-height: 100%;
        	min-width: 1024px;
        	
        	/* Set up proportionate scaling */
        	width: 100%;
        	height: auto;
        	
        	/* Set up positioning */
        	position: fixed;
        	top: 0;
        	left: 0;

        }
        
        .copy {
          width: 80%;
          margin: 0 auto;
        }
        
        p { 
          font: 15px/2 Georgia, Serif; 
          margin: 0 0 30px 0; 
          text-indent: 40px; 
        }
        
        #home {
            font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            line-height: 26.4px;
            color: #7b7aa4;
            padding:40px 60px;
            text-align: center;
        }
        
        @media screen and (max-width: 1024px){
        	img.bg {
        		left: 50%;
        		margin-left: -512px;
        		opacity: 0.2;
        	  
        	}
        }
        
        
  %body
    %img.bg{:src => "assets/home.jpg"}
    %div.copy
      %p#home Our mission at Bernal Heights Neighborhood Center is to preserve and enhance the ethnic, cultural, and economic diversity of Bernal Heights and surrounding neighborhoods. We promote community action to build a just and equitable community for all. BHNC focuses on the needs of people with low and moderate incomes.
    
      
    #main