// Place all the styles related to the admin/hotspots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hotspotFilters {
    margin-bottom: 20px;
}

#filter_submit{
    margin-top: 20px;
}

#exportcsvbtn {
    margin-bottom: 20px;
    background-color: $orange-primary;
    border-color: $orange-primary;
}

h4.filter{
    color: $purple-primary;
}


@media only screen and (max-width: 768px) {
	#hotspots tr td:nth-child(6)		{ display:none; visibility:hidden; }
	#hotspots tr td:nth-child(5)		{ display:none; visibility:hidden; }	
}


@media only screen and (max-width: 420px) {
	#hotspots tr td:nth-child(3)		{ display:none; visibility:hidden; }
}

		