/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

// *= require_self
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables.scss";
@import "events.scss";
@import "hotspots.scss";
@import "simple_calendar";
@import "admin.scss";

.errorExplanation {
  padding: 0 10px;
  margin: 1em 2px;
  border: 2px solid red;
  background: #fcb;
}
.errorExplanation h2 {
  font-size: 1.1em;
  color: red;
}
.errorExplanation ul {
  list-style: disc inside;
}
div.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select {
  background: #fcb;
}
#flash_notice {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
#flash_error {
  background: pink;
  margin: 1em 0;
  padding: 4px;
}
.btn-primary {
  background-color: $orange-primary;
}
body.container-fluid {
  padding: 0px;
  background-color: #F2F3F5;
}
.full-width {
  padding-left: 5%;
  padding-right: 5%;
}
.navbar {
  margin-bottom: 0px;
}
.pg-header {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 10px 10px 10px #ddd;
  margin-bottom: 5%;
  padding-left: 15px;
  color: $orange-primary;
}
.container-shadow {
    border: 1px solid #ddd;
    border-radius: 5px 5px;
    padding: 25px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px #ccc;
    margin-bottom: 20px;
}