// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fixed-width {
    width: 750 px;
}
.form-heading {
    border-color: $orange-primary;
    background-color: $orange-primary;
    color: white;
}
.form-border {
    border-color: $orange-primary;
}

// keeps calendar cells the same size
.simple-calendar .table {
  table-layout:fixed;
}
.event-marker {
    font-weight: bold;
    color: orange;
}
#event-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: $orange-primary;
}
.day {
    cursor: pointer;
}
.marker {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: $orange-primary;
}
.simple-calendar table .prev-month, .simple-calendar table .next-month {
    background-color: lavender;
}