/*// Place all the styles related to the resources controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

.block_radio_button_collection {
  display: block;
}

h3 {
    color: green;
    font-family: "Times New Roman", Times, serif;
}