%h1.pg-header All Events

%div.full-width
  %div.col-sm-7.container-shadow
    = month_calendar(attribute: :start_date, events: @events) do |date, acts|
      %p{id: date}
        = date.mday
      - if acts.length != 0
        // %p.event-marker
        // = "&bull;".html_safe
        %div.marker
    = button_to 'Create New Event', new_event_path, method: :get, class: "btn btn-primary", id: "event-btn"
  

  %div{:class => "container-shadow col-sm-4 col-xs-12 pull-right", :id => "event-list"}
    = render 'layouts/event_list'

:javascript
  $('.day').click( function() {
    var search_param = $(this).children("p").attr("id");
    $.ajax({
            url: "events/", //param is specific day
            type: "GET",
        dataType: "text",
        contentType: "text/plain",
            data: { day: search_param },
        complete: function() {},
        success: function(data, textStatus, xhr) {
                    // Do something with the response here
                    $('#events').html(data);
                  },
          error: function(data) {
                    alert("ajax error");
                  }
    });
  });
