<div class="map-container">
  <input id="searchbar" class="controls" type="text" placeholder="Search Box">
  <input id = "searchbtn" type="button" value="Search" />
  <div class="map-canvas" id="map" ></div>
</div>

<!--This creates the map and iterates through the hotspot locations in the db to create the markers.-->
<script type="text/javascript">

    handler = Gmaps.build('Google');
    handler.buildMap({
    provider: {
      disableDefaultUI: false //this option sets map style
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    <% if @hotspots == nil || @hotspots.count == 0 %>
      handler.getMap().setCenter({lat: 37.744385, lng: -122.417046});
      handler.getMap().setZoom(15);
    <% else %>
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    <% end %>
  }
);
    
    var search_marker = new google.maps.Marker();
    var infowindow = new google.maps.InfoWindow();
    $('#searchbtn').click( function() {
        $.ajax({
                 url: "<%= gps_hotspot_path(@hotspots) %>", // Route to the Hotspot Controller gps method
                type: "GET",
            dataType: "json",
                data: { coords: $('#searchbar').val() }, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        // Do something with the response here
                        
                        var myLatLng = {lat: data.lat, lng: data.lng};
                        // clear out marker from previous search
                        search_marker.setMap(null);
                        infowindow.close();
                        
                        // marker appears with infowindow
                        var location_str = "" + data.lat + ', ' + data.lng;
                        // have to use String.replace to insert actual value of location_str into erb
                        var reportIssueLink = '<%= link_to 'Report Issue', new_hotspot_path(:location => 'location_str') %>';
                        reportIssueLink = reportIssueLink.replace('location_str', location_str);
                        infowindow = new google.maps.InfoWindow({
                          content: reportIssueLink
                        });
                        search_marker = new google.maps.Marker({
                            position: myLatLng,
                            map: handler.getMap(),
                            title: 'Report Issue',
                            animation: google.maps.Animation.DROP
                        });
                        infowindow.open(handler.getMap(), search_marker);
                        search_marker.addListener('click', function() {
                          infowindow.open(handler.getMap(), search_marker);
                        });
                        handler.getMap().setCenter(myLatLng);
                      },
               error: function() {
                        alert("ajax error");
                      }
        });
  });
  $('#searchbar').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            alert("pressed");
            $('#searchbtn').click();//Trigger search button click event
        }
  });


</script>


